body {
  font-family: sans-serif;
  text-align: center;
  margin: 30px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  padding: 10px;
  background: #f0f0f0;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.item.correct {
  background-color: lightgreen;
}

.item.wrong {
  background-color: rgb(174, 76, 76);
}

.item.selected {
  outline: 2px solid rgb(255, 102, 0);
}
